@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply transition ease-in-out min-w-40 rounded font-bold disabled:bg-slate-900 disabled:text-slate-600 disabled:ring-offset-0 disabled:ring-0 hover:ring-offset-1 hover:ring-1 p-1 m-1 cursor-pointer;
    }
    .varbtn {
        @apply transition ease-in-out rounded font-bold disabled:bg-slate-900 disabled:text-slate-600 disabled:ring-offset-0 disabled:ring-0 hover:ring-offset-1 hover:ring-1 p-1 m-1 cursor-pointer;
    }
}

.markdown TABLE { border: 2pt solid rgb(66 56 157); margin: auto; margin-top: 0.5rem; margin-bottom: 0.5rem; }
.markdown TABLE TD, .markdown TABLE TH { border: 1pt solid rgb(66 56 157); padding-left: 0.3rem; padding-right: 0.3rem;}
.markdown TABLE TH { border-bottom: 2pt solid rgb(66 56 157); color: rgb(66 56 157); }

.markdown PRE, .markdown CODE {
    color: white;
    background-color: black;
    opacity: 0.9;
}

.markdown PRE {
    padding: 1rem;
}

.markdown CODE { padding-left: 0.2rem; padding-right: 0.2rem; }

.markdown a { font-weight: 900; color: rgb(66 56 157); background-color: honeydew ;  text-decoration: underline; }

.markdown p { padding-top: 0.2rem; padding-bottom: 0.2rem; }

.markdown blockquote { 
    margin-top: 0.2rem; margin-bottom: 0.2rem;
    padding-top: 0.3rem; padding-bottom: 0.3rem; padding-left: 0.5rem;
    border-left: 4pt solid rgb(66 56 157); color: rgb(66 56 157);
}
